[web]
homePath   = $SPLUNK_DB/web/db
coldPath   = $SPLUNK_DB/web/colddb
thawedPath = $SPLUNK_DB/web/thaweddb
maxDataSize = 3000
maxTotalDataSizeMB = 60000
coldToFrozenDir = /opt/frozen/web

[web_test1]
homePath   = $SPLUNK_DB/web_test1/db
coldPath   = $SPLUNK_DB/web_test1/colddb
thawedPath = $SPLUNK_DB/web_test1/thaweddb
maxDataSize = 3000
maxTotalDataSizeMB = 60000
coldToFrozenDir = /opt/frozen/web

[main_test1]
homePath   = $SPLUNK_DB/main_test1/db
coldPath   = $SPLUNK_DB/main_test1/colddb
thawedPath = $SPLUNK_DB/main_test1/thaweddb
maxDataSize = 3000
maxTotalDataSizeMB = 60000
coldToFrozenDir = /opt/frozen/web

[web_test2]
homePath   = $SPLUNK_DB/web_test2/db
coldPath   = $SPLUNK_DB/web_test2/colddb
thawedPath = $SPLUNK_DB/web_test2/thaweddb
maxDataSize = 3000
maxTotalDataSizeMB = 60000
coldToFrozenDir = /opt/frozen/web

[main_test2]
homePath   = $SPLUNK_DB/main_test2/db
coldPath   = $SPLUNK_DB/main_test2/colddb
thawedPath = $SPLUNK_DB/main_test2/thaweddb
maxDataSize = 3000
maxTotalDataSizeMB = 60000
coldToFrozenDir = /opt/frozen/web

