[monitor:///opt/log/www*/access.log]
blacklist = secure.*
disabled = false
index = web
whitelist = access.*
host_segment = 3

[monitor:///opt/log/www*/secure.log]
blacklist = access.*
disabled = false
index = main
whitelist = secure.*
host_segment = 3


