[monitor:///opt/log/cisco_router1/cisco_ironport_web.log]
disabled = false
index = main
host = cisco_router1


[monitor:///opt/log/crashlog/dreamcrusher.xml]
disabled = false
host = game_server1
index = main
sourcetype = dreamcrusher_xmltype
_TCP_ROUTING = myparser

