[monitor://var/log]
whitelist = dmesg*
#host = whatever
#host_segment = 3
index = main_test2

[monitor://var/log]
whitelist = message*
index = main_test1

[monitor:///opt/log]
blacklist = secure.*
disabled = false
index = web_test2
whitelist = www.*
host = www-13

