[monitor:///opt/log/www*/access.log]
blacklist = secure.*
disabled = false
index = web_test1
whitelist = access.*
host_segment = 3

[monitor:///opt/log/www*/secure.log]
blacklist = access.*
disabled = false
index = main_test1
whitelist = secure.*
host_segment = 3


