[monitor://var/log/httpd]
whitelist = access*
#host = whatever
#host_segment = 3
index = web

[monitor://var/log]
whitelist = secure*
index = main

[monitor:///opt/log]
blacklist = secure.*
disabled = false
index = sales
whitelist = www.*
host = www-13

