[monitor:///opt/log/cisco_router1/cisco_ironport_web.log]
#blacklist = secure.*
disabled = false
index = main_test2
#whitelist = *
host = cisco_router1


[monitor:///opt/log/crashlog/dreamcrusher.xml]
disabled = false
host = game_server1
index = main_test2
sourcetype = dreamcrusher_xmltype
_TCP_ROUTING = myparser

